@font-face{
    font-family: panton;
    src: url(../fonts/panton.ttf);
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-family: panton;
}

.clicked_menu{
    display: none;
}

.burger_lines{
    display: none;
}

.body{
    max-width: 1084px;
    margin: 0 auto;
    
    
}

header{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    position: relative;
    z-index:5;
    
}

.logo{
    width:154px;
    height: 40px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding:5px;
    
    
}

.first_list{
    display: flex;
    font-size:14px;
    margin:10px;
    color:black;
    margin-top: 15px;
    

}

.first_list:hover{
    color:#BADC58;
    background-color:#E8F0F3;
    transition:300ms color ease;
}

.book{
    border-width: 100px;
    padding: 15px 32px 15px 35px;
    border-radius: 30px;
    background-image: linear-gradient(#6AB04C, #BADC58);
    color:#fff;
   
    
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



.hero::after{
    display: flex;
    background-color: #E8F0F3;
    content: url(../images/nodmotors.png);
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width:100%;
    height: 825px;
    align-items: center;
    justify-content: center;
    
      
}

.hero_content{
    margin-top:100px;
}
.car_info{
    display: flex;
    justify-content: center;
    align-content: space-between;
    

}

.car_info ul{
    margin-left:60px;
    margin-right: 60px;
}

.car_info li:first-child{
    color:#6AB04C; 
    font-size:12px; 
}

.car_info li:nth-child(2){
    font-size: 30px;
    font-weight: bold;
}
.cars{
    margin:68px 25px;
    
}

.cars::after{
    content: url(../images/ArrowDown.png);
    display: block;
    position: relative; 
    top:-1158px;
    
}
.cars_header{
    margin-top:90px;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.selector{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 164px;
    border-radius:40px;
    font-size: 14px;
    height:40px;
    border:1px solid #fff;
    box-shadow:0 3px 6px 0 rgba(24,24,24,0.06);
    text-indent: 40%;
    background-image: url(../images/ArrowB.png);
    background-repeat: no-repeat;
    background-position: 75% 55%;
}

.amount{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 72px;
    border-radius:40px;
    font-size: 14px;
    height:40px;
    border:1px solid #fff;
    box-shadow:0 3px 6px 0 rgba(24,24,24,0.06);   
    text-indent: 40%;
    background-image: url(../images/ArrowB.png);
    background-repeat: no-repeat;
    background-position: 75% 55%;

}

.cars_list{
    margin:133px;
}
.car_ul{
    display: flex;
    flex-wrap: wrap;
    width: 1084px;
    justify-content: space-around;
    
}

.car_ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top:100px;
}

.bmw_img{
    width:256px;
    height:144px;
    
}

.car_img{
    width:348px;
    height:196px;
}

.price{
    margin-left:107px;
    color:#6AB04C;

}

.price::before{
    color:#95A5A6;
    content: "From:"
}

.info{
    color:#95A5A6;
}

.cars_p{
    color:#95A5A6;
}

 .white , .black , .red, .orange,
 .grey , .green, .yellow, .pink, .blue{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border:1px solid #95A5A6;


 }

 .black{
    background-color: black;
 }

 .red{
     background-color: #AA071E;
 }

 .grey{
     background-color: grey;
 }
 .pink{
     background-color: #FF664F
 }

 .blue{
     background-color: #2F6AA2;
 }
.yellow{
    background-color: #D1BB3F;
}
.orange{
    background-color: #FF9331;
}
.green{
    background-color: #6AB04C 
}


/*Second page*/
.body{
    max-width: 1084px;
    margin: 0 auto;
}
.first_section{
    display: flex;
    justify-content: space-between;
    margin-top:70px;
    margin-left:184px;

}

.performance{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.txt_overlay{
    width:440px;
    height:427px;
}



.performance h1{
    font-size: 30px;
    
}

.performance p{
    width: 440px;
    word-break: break-all;
    color: #95A5A6;
    
}
.history{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.history_h{
    display: flex;
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top:15px;
}
.history p{
    max-width: 532px;
    margin-bottom: 42px;
    word-break: break-all;
    color: #95A5A6;
}

.history img{
    width:775px;
    margin-bottom: 18px;
}

.second_section{
    display:flex;
    margin-top:70px;
    margin-left:143px;
}

.star_aside{
    margin-right: 20px;
    margin-left: 41px;
    max-width:625px;
    
}

.built{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rating{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #e8f0f3;
    width: 624px;
    height: 400px;  
}

.rating h1{
    margin-bottom: 25px;
}

.rating_list li{
    font-size: 18px;
    margin-bottom: 28px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}


.built_h{
    font-size:30px;
    margin-bottom:30px;
}

.built p{
    font-size:14px;
    color:#95A5A6;
    margin-bottom:30px;

}

.map{
    display: flex;
    flex-direction: column;
    max-width: 440px;
    
}

.map h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.map p{
    font-size:14px;
    color:#95A5A6;
    margin-bottom: 20px;}
 

.car_pics{ display: flex;
    justify-content: space-between;
    margin-left:176px;
    margin-right:95px;
    margin-top:100px; }
     
.tesla{
        margin-top:30px;
        margin-bottom:15px;
        margin-left:170px;
    }
.cars_list2{
        margin-right:43px;
        margin-bottom:1 
    }
.car_ul2{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-around;
        
    }


.tesla_h{
    font-size:30px;
    

}   
    
.car_ul2 li{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top:100px;
    }









/*End of Second page*/

/*star of footer styling*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80px;
}

.footer p{
    color: #95A5A6;
}

.contact{
    display: flex;
}

.footer a{
    color: #95A5A6;
    margin-left:10px;
}

#overlay{
position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index:4;
  opacity: .95;
  cursor: pointer;
}

.overlay_h{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:151px;
}

.overlay_p{
   margin:28px 40%;
   font-size:14px;
   color:#95A5A6;
   width:280px;
   text-align:center;
  
}

.overlay_form{
    width: 216px;
    height:240px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right:-600px;
    z-index:3;
}

input{
    
    width:216px;
    height:30px;
    border-radius:4px;
    border:none;
    background-color: #E8F0F3;
    color:#B4C4C5;
    text-align:justify;
    
}
.submit{
    background-image: linear-gradient(#6AB04C, #BADC58);
    color:#fff;
    text-align: center;
}

.message{
    height:60px;
}

.overlay_div{
    width:216px;
    height: 240px;
    text-align: center;
    margin:auto;
    display:none;
}



@media (max-width:320px){

    .header{
        position: relative;
        z-index:9;
        height: 60px;
    }
    .nav ul{
        display: none;
    }

    .hero{
    height: 300px;
    width: 400px;}
    
    .hero::after{
       height:568px;
    }

    .hero_content{
        width:320px;
        width:400px;
        font-size:13px;
        text-align: center;
       

    }

    .hero_img{
    position:inherit;
    z-index:-2;
    width: 100%;
    height:223px;
    object-fit: cover;
    }


    .car_info{
        width:280px;
        height:30px;
        display: flex;
        justify-content: space-between;
        margin-left:69px
        

    }



    .car_info ul{
        margin-left:0px;
        margin-right: 0px;
    }

    .car_info li:nth-child(2){
        font-size: 16px;
        font-weight: bold;
    }


    .cars::after{
        position: absolute;
        top:423px;
        left:74px;
        
    }
    .cars{
       
        width: 320px;
        
      
    }
    .cars_header{
        text-align: center;
        margin-top:185px;
    }

    .form{
        display: block;  
        margin-left:81px;
    }

    .selector{
        background-color: #fff;
        margin-top:20px; 

    }
    .amount{
        background-color: #fff;
        margin-top:20px;
        margin-left:47px; 
    }

    .cars_p{
        text-align: center;
    }

    .cars_list{
      margin:0;
    }
    .car_ul{
        display: flex;
        flex-direction: column;
        width:320px;
    }

    .car_ul li{
        margin:0;
        width:340px;
        margin-top:50px;
    }

    .hero_content::after{
    width:320px;    
    height: 300px;
    display: block;
    position:absolute;
    top:60px;
    bottom:0;
    left:0;
    right:0;
    background-color: #181818;
    opacity: .6;
    z-index: -1;}


    footer{
        display: flex;
        justify-content: space-around;
        margin-left:40px; 
    }
    .footer{ 
        flex-direction: column-reverse;
        height: 210px;
        
    }

    .burger_lines{
        position: absolute;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        right:5%;
        top:5%;
        transform: translate(-5%,-50%);
        margin-top:25px;
    }  

    .line{
        display: block;
        width: 30px;
        height: 3px;
        background-color:black;
        border-radius: 1px;
        transition: 0.3s ease;
        margin: 3px;
    }
   
    .clicked_menu{
        position:absolute;
        width: 320px;
        height:508px;
        margin-top:89px;

    }

   
    .clicked_menu{
        display: block;
    }
    .burger_lines{
        display: block;
    }

    #line1{
        transform: translateY(-3px);
    }

    #line3{transform: translateY(3px);
    }

    .active #line1 {
        transform: translateY(6px) rotateZ(-45deg);
    }

    .active #line3 {
        transform: translateY(-5px) rotate(45deg);
    }

    .active #line2 {
        opacity: 0;
    }



    .burger_menu{
        background-color: #fff;
        display: flex;
        text-decoration: none;
        height: 568px;
        margin-top: 197px;
        width: 320px;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index:2; 
              
        
    }
    
    .burger_ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px; 
        margin-right:24px;   
    }

    .burger_li{
        color: #181818;
        cursor: pointer;
        
    }

    .burger_li:hover{
    color:#BADC58;
    background-color:#fff;
    transition:300ms color ease;
    }

    

   
}





