@font-face{
    font-family: panton;
    src: url(../fonts/panton.ttf);
}




*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-family: panton;

}

.clicked_menu{
    display: none;
}

.burger_lines{
    display: none;
}

.body{
    max-width: 1084px;
    margin: 0 auto;
  
   
}

header{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    margin-top:20px;
    position: relative;
    z-index:5;
}

.logo{
    width:154px;
    height: 40px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding:5px;
    
    
}


.first_list{
    display: flex;
    font-size:14px;
    margin:10px;
    color:black;
    margin-top: 15px;
    

}

.first_list:hover{
    color:#BADC58;
    background-color:#fff;
    transition:300ms color ease;
}

.book{
    border-width: 100px;
    padding: 15px 32px 15px 35px;
    border-radius: 30px;
    background-image: linear-gradient(#6AB04C, #BADC58);
    color:#fff;
   
    
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:134px;
}

section h1{
    font-size: 30px;
}

section p{
    font-size: 14px;
    color:#95A5A6;
    margin-top:20px;
    display: block;
    word-break: break-all;
    width:716px;
}


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 80px;
}

.footer p{
    color: #95A5A6;
}

.contact{
    display: flex;
}

.footer a{
    color: #95A5A6;
    margin-left:10px;
}

#overlay{
    position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index:4;
      opacity: .95;
      cursor: pointer;
    }
    
    .overlay_h{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top:151px;
    }
    
    .overlay_p{
       margin:28px 40%;
       font-size:14px;
       color:#95A5A6;
       width:280px;
       text-align:center;
      
    }
    
    .overlay_form{
        width: 216px;
        height:240px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        right:-600px;
        z-index:3;
    }
    
    input{
        
        width:216px;
        height:30px;
        border-radius:4px;
        border:none;
        background-color: #E8F0F3;
        color:#B4C4C5;
        text-align:justify;
        
    }
    .Submit{
        background-image: linear-gradient(#6AB04C, #BADC58);
        color:#fff;
        text-align: center;
    }
    
    .message{
        height:60px;
    }
    
    .overlay_div{
        width:216px;
        height: 240px;
        text-align: center;
        margin:auto;
        display:none;
    }



@media (max-width:320px) {
  

    .header{
        position: relative;
        z-index:9;
        height: 60px;
    }
    .nav ul{
        display: none;
    }
    section{
        margin:17px;
    }
    section p{
        width:280px;
    }
    section h1{
    
    display: inline;
    }
    footer{
        display: flex;
        justify-content: space-around;
        
    }
    .footer{ 
        flex-direction: column-reverse;
        height: 210px;
    }

    


    .burger_lines{
        position: absolute;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        right:5%;
        top:5%;
        transform: translate(-5%,-50%);
        margin-top:25px;
    }  

    .line{
        display: block;
        width: 30px;
        height: 3px;
        background-color:black;
        border-radius: 1px;
        transition: 0.3s ease;
        margin: 3px;
    }
   
    .clicked_menu{
        position:absolute;
        width: 320px;
        height:508px;
        margin-top:89px;

    }

   
    .clicked_menu{
        display: block;
    }
    .burger_lines{
        display: block;
    }

    #line1{
        transform: translateY(-3px);
    }

    #line3{transform: translateY(3px);
    }

    .active #line1 {
        transform: translateY(6px) rotateZ(-45deg);
    }

    .active #line3 {
        transform: translateY(-5px) rotate(45deg);
    }

    .active #line2 {
        opacity: 0;
    }



    .burger_menu{
        background-color: #fff;
        display: flex;
        text-decoration: none;
        height: 568px;
        margin-top: 197px;
        width: 320px;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        z-index:2; 
              
        
    }
    
    .burger_ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px; 
        margin-right:24px;   
    }

    .burger_li{
        color: #181818;
        cursor: pointer;
        
    }

    .burger_li:hover{
    color:#BADC58;
    background-color:#fff;
    transition:300ms color ease;
    }

  


}   
